@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>


    <address>
        Praveen<br />
        Developer<br />
        Chennai<br />
        <abbr title="Phone">Phone:</abbr>
        1234567890
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:praveengowtham.pg@gmail.com">praveengowtham.pg@gmail.com</a><br />
    </address>
</main>